@import "../../../../themes/generated/variables.modes.scss";

.reset-password-form {
  .submit-button {
    margin-top: 10px;
  }

  .login-link {
    font-size: 16px;
    text-align: center;

    a {
      color: $base-accent;
    }

    .light-mode & {
      color: $base-text-color-light-alpha-7;
    }

    .dark-mode & {
      color: $base-text-color-dark-alpha-7;
    }
  }
}
